.header {
    color: aquamarine;
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

.logo {
  font-size: 30px;
  font-weight: bold;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 10px;
}